/*
Cores do projeto:

Principal: #FFD71B
SecundÃ¡rias:
 #FFE369
 #806B0E
 #807234
 #CCAB16

Fontes do projeto:
 A ser pesquisado
*/

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:ital,wght@1,200;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');



:root {

    --cor-principal: #ffd71b;

    --cor-secund-01: #ffe369;
    --cor-secund-02: #ccab16;
    --cor-secund-03: #807234;
    --cor-secund-04: #806b0e;

}

* {
    scrollbar-width: thin;
    scrollbar-color: #ffe369, #fff;
  }

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(#ffe369, #fff);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background: transparent;     /* color of the scroll thumb */
    border-radius: 20px;;  /* creates padding around scroll thumb */
  }


body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 100px;
}

/* Menu / Header */
.menu_a {
    text-decoration: none;
}

.menu_a:hover {
    font-weight: bold;
}

.menu >li{
    color: black;
    font-size: larger;
    font-family: 'Rowdies', cursive;
    padding: 0 25px;
}
.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.logo {
    max-width: 150px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: black;
}

/* Main / Corpo */

.conteudo_1 {
    height: 500px;
    width: 100%;
    background-color: #ffd71b;
    text-align: center;
}

.conteudo_2 {
    height: 500px;
    width: 100%;
    background-color: white;
    text-align: center;
}
.conteudo_3 {
    height: 500px;
    width: 100%;
    background-color: #ffd71b;
    text-align: center;
}

.conteudo_4 {
    height: 500px;
    width: 100%;
    background-color: white;
    text-align: center;
}

/* Footer */

footer {
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
footer > p > a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .menu{
        display: grid;
        grid-column: 1;
        grid-gap: 1vw;
        margin: 0 auto;
        max-width: 800px;
        padding: 10px;
    
    }

    .logo {
        max-width: 22vw;
    }

    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
        flex-flow: column-reverse;
        text-align: center;
        
    }

    .menu li a {
        display: block;
        padding: 10px;
        color: black;
        font-size: 2.8vw;
    }


}

@media (max-width: 700px) {

    .menu li a {
        font-size: 3vw;
    }
}

@media (max-width: 500px){

    .logo{
        max-width: 125px;
    }
    .menu li a{
        font-size: 15px;
    }
}